{
  "nixstore": {
    "type": "flake-module",
    "input": "nixstore",
    "url": "github:ExpressoCodes/nixstore",
    "source": "system",
    "enabled": true
  },
  "hyprland": {
    "type": "flake-module",
    "input": "hyprland",
    "source": "system",
    "enabled": true
  },
  "hyprland-settings": {
    "type": "flake-module",
    "input": "hyprland-settings",
    "source": "system",
    "enabled": true
  }
}
